
#alarm-container{

    height:400px;
    width: 350px;
    border: 3px solid black;
    margin:auto;
    margin-top:2%;
  
    border-radius: 15%;
    background-image: linear-gradient(45deg, #eee6e6, #8787ff);

}

#clock{
  
    height:200px;
    width: 247px;
    background-image: url('./assets/clock.gif');
    background-size: cover;
    margin: auto;
  
 
   
}

#current-time-container{
    box-sizing: border-box;
    width:70%;
    height:15%;
    /* border: 1px solid black; */
    margin:auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 10px;
    background-color: black;
    box-shadow:0px 0px 10px white ;
    border-radius: 30px;

    

}

#current-time{
   text-align: center;
    font-size: 1.8rem;
    font-family: monospace;
    color: white;
    
}

#alarm-input  {
    padding: 10px;
    margin-left:18%;
}

#control-alarm {
    margin: auto;
    width: 48%;
    margin-bottom: 5%;

}

/* Display alarm section */

#display-alarm{
    height: 56%;
    width: 91%;
    
    margin-top: 5%;
    margin: auto;
    
   
    border-radius: 13%;
    
    
    font-weight: bold;

}

ul{
    padding: 2px;
}


li{
    list-style: none;
    margin-top: 0.1rem;
    background-color: #002cc7c4;
    height: 2rem;
    box-shadow: 0 0 8px white;
    border-radius: 15px;
}


#set-time{

    margin-right: 9rem;
   
    font-size: 1rem;
    font-family: monospace;
    color: white;
    margin-left: 2rem;
    
   
}

#ul{
    margin: 5px;
}
#display-row{
    height: 100%;
}
.delete{

    width: 59px;
    background-color: red;
    color: white;
    font-family: sans-serif;
    margin-top: 1.5%;
    border-radius: 13px;
    margin: auto;
    height: 32px;
    box-shadow: 0 0 2px white;
    border: 1px solid white;
}

#set-alarm{
    color: white;
    background-color: green;
    border-color: transparent;
    width: 81.16px;
    padding: 4px;
    border-radius: 10px;
}
#reset-alarm{
    color:white;
    background-color: red;
    border-color: transparent;
    padding: 4px;
    border-radius: 10px;
}

#display-heading{
    font-family: cursive;
    margin-left: 7%;
    margin-bottom: -3%;
    
}
}